body {
	font-family: arial;
	background-color: #9B50AF;
}

header {
	height: 40px;
	padding-right:30px;
	background-color: black;
	line-height: 40px;
	vertical-align: center;
	text-align: right;
}

header a {
	text-decoration: none;
	color: white;
}

.item-box {
	width: 500px;
	margin: 20px;
	min-height: 200px;
	float: left;
	background-color: white;
	padding: 10px;
}

.atras{
	width: 500px;
	margin: 20px;
	min-height: 200px;
	float: left;
	background-color: white;
	padding: 10px;
}

.item-title {
	margin: 10px 0px;
}

.item-box p {
	font-size: 8pt;
	color: #6F6F6E;
}


.more-info {
	margin-top: 20px;
	display: none;
}

